Repository balancednetwork/balanced-java-contracts, pull requests merged in 2024-11, with the labels that each got.

#458 fix: quer spoke limit
  score-lib/src/main/java/network/balanced/score/lib/tokens/HubTokenImpl.java
Labels: review

#461 feat: Add option to exempt collaterals from redemptions
  core-contracts/Loans/src/main/java/network/balanced/score/core/loans/LoansImpl.java
  core-contracts/Loans/src/main/java/network/balanced/score/core/loans/LoansVariables.java
  core-contracts/Loans/src/test/java/network/balanced/score/core/loans/LoansTest.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Loans.java
  score-lib/src/main/java/network/balanced/score/lib/utils/Versions.java
Labels: enhancement

#464 feat: Add option for governance to borrow from dex
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/AbstractDex.java
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/DexDBVariables.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Dex.java
Labels: enhancement

#456 feat: Feature/crosschain lp
  core-contracts/AssetManager/src/main/java/network/balanced/score/core/asset/manager/AssetManagerImpl.java
  core-contracts/DAOfund/src/main/java/network/balanced/score/core/daofund/DAOfundImpl.java
  core-contracts/Dex/build.gradle
  core-contracts/Dex/src/intTest/java/network/balanced/score/core/dex/DexIntegrationTest.java
  core-contracts/Dex/src/intTest/java/network/balanced/score/core/dex/NonStakedLPRewardsTest.java
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/AbstractDex.java
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/DexDBVariables.java
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/DexImpl.java
  core-contracts/Dex/src/main/java/network/balanced/score/core/dex/IRC31StandardSpokeLpToken.java
  core-contracts/Dex/src/test/java/network/balanced/score/core/dex/DexTestBase.java
  core-contracts/Dex/src/test/java/network/balanced/score/core/dex/DexTestCore.java
  core-contracts/Dex/src/test/java/network/balanced/score/core/dex/DexTestSettersAndGetters.java
  core-contracts/Reserve/src/test/java/network/balanced/score/core/reserve/ReserveFundTest.java
  core-contracts/Reserve/src/test/java/network/balanced/score/core/reserve/ReserveFundTestBase.java
  core-contracts/Rewards/build.gradle
  core-contracts/Rewards/src/intTest/java/network/balanced/score/core/rewards/RewardsIntegrationTest.java
  core-contracts/Rewards/src/main/java/network/balanced/score/core/rewards/DataSourceDB.java
  core-contracts/Rewards/src/main/java/network/balanced/score/core/rewards/DataSourceImpl.java
  core-contracts/Rewards/src/main/java/network/balanced/score/core/rewards/RewardsImpl.java
  core-contracts/Rewards/src/test/java/network/balanced/score/core/rewards/RewardsTestBase.java
  core-contracts/Rewards/src/test/java/network/balanced/score/core/rewards/RewardsTestExternalRewards.java
  core-contracts/Rewards/src/test/java/network/balanced/score/core/rewards/RewardsTestRewards.java
  core-contracts/Rewards/src/test/java/network/balanced/score/core/rewards/RewardsTestSetup.java
  core-contracts/Router/src/main/java/network/balanced/score/core/router/RouterImpl.java
  core-contracts/Router/src/test/java/network/balanced/score/core/router/RouterTest.java
  core-contracts/StakedLP/build.gradle
  core-contracts/StakedLP/src/intTest/java/network/balanced/score/core/stakedlp/StakedlpIntegrationTest.java
  core-contracts/StakedLP/src/main/java/network/balanced/score/core/stakedlp/StakedLPImpl.java
  core-contracts/StakedLP/src/test/java/network/balanced/score/core/stakedlp/StakedLPTest.java
  crosschainlp.md
  score-lib/src/main/java/network/balanced/score/lib/interfaces/BalancedToken.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Dex.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Rewards.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Router.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/Sicx.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/StakedLP.java
  score-lib/src/main/java/network/balanced/score/lib/interfaces/tokens/HubToken.java
  score-lib/src/main/java/network/balanced/score/lib/utils/AddressBranchDictDB.java
  score-lib/src/main/java/network/balanced/score/lib/utils/BranchedNetworkAddressDictDB.java
  score-lib/src/main/java/network/balanced/score/lib/utils/NetworkAddressDictDB.java
  score-lib/src/main/java/network/balanced/score/lib/utils/TokenTransfer.java
  score-lib/src/main/java/network/balanced/score/lib/utils/Versions.java
  score-lib/src/test/java/network/balanced/score/lib/utils/TokenTransferTest.java
Labels: documentation, enhancement, Development
